[submodule "External/earcut.hpp"]
	path = External/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/OpenRT"]
	path = External/OpenRT
	url = https://github.com/ChivenZhang/OpenRT.git
