[submodule "External/Taitank"]
	path = External/Taitank
	url = https://github.com/Tencent/Taitank.git
[submodule "External/earcut.hpp"]
	path = External/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
